@import url(https://fonts.googleapis.com/css?family=Lilita+One:regular);

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/avatar_background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.navbar {
    margin-bottom: 30px;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav:last-child {
    margin-left: auto;
}

.square-border {
    padding: 8px 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
}

.square-border:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;
}

/* AVATAR EXTRA CODE */
.tittle-container {
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tittle-container h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 500%;
}

.avatar-container {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

.carousel-item img {
    max-width: 30%;
    height: auto;
    margin: auto;
}

.item-info-section {
    text-align: left;
    margin-top: 10%;
    padding-left: 10px;
}

.item-info-section h1 {
    font-size: 18px;
    color: rgb(255, 196, 0)
}

.item-info-section p {
    font-size: 12px;
    color: aliceblue;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    padding: 0 1rem;
    font-size: 4rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px; 
    height: 30px; 
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}
